#canvas {
  background-color: navy;
}
g {
  background-color: gray;
}
#tooltip {
  background-color: lightblue;
}
#legend {
  width: 390px;
  height: 250px;
  padding-left: 20px;
  padding-top: 20px
}
body {
  text-align: center;
}
